//- Extends default layout
extends _default-layout

//- Adds content to the <head>
block append head
  // [ SEO ]
  //-TODO Update Title
  title MDEV DIGITAL | Process Driven UI/UX and Development - London, Ontario

//- Adds content right after <body>
block content
  div.u-text-center
    .mdev-image
      img(src="../../assets/images/favicon.png")
    //- Sample Mixin Usage
    +sample-header(' MDEV - PUG + SASS Boilerplate')


