meta( charset='utf-8')

// [ SEO ]
meta( name='keywords' 							content='Vue, JavaScript, Node, JQuery, SCSS, HTML5, Aria, W3C')
meta( name='description' 						content='Base Project Install')

// [ FB Open Graph ]
//- TODO - Edit open graph info based on project
meta( property='fb:app_id' content='APP_ID_GOES_HERE')
meta( property='og:type' content='website')
meta( property='og:url'  content='http://URL_TO_WEBSITE')
meta( property='og:title' content='PAGE_TITLE_HERE')
meta( property='og:description' content='PAGE_TITLE_HERE')
meta( property='og:image' content='http://moreiradevelopment.io/social/moreira-development-twitcard.png')

// [ Twitter Card ]
//- TODO - Edit Twitter card info based on project
meta( name='twitter:card'           content='summary_large_image')
meta( name='twitter:site'           content='@SAMPLE')
meta( name='twitter:creator'        content='@SAMPLE')
meta( name='twitter:title'          content='[ MOREIRA DEVELOPMENT PROJECT ] CLIENT | PROJECT ')
meta( name='twitter:description'    content='Base Project Install')
meta( name='twitter:image'          content='http://moreiradevelopment.io/social/moreira-development-twitcard.png')

// [ Fonts ]
//- TODO Edit font calls based on project
link( href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet')

// [ SCRIPTS ]
script( src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

// [ Google Maps API ]
// TODO - Generate API KEY
script( src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBBqIEqMAu1tnDhpPmRlesqA7Q1Na46AZs')

// [ Alertify ]
//- TODO - Optional, if alert toasts are not needed - remove
script( src='//cdn.jsdelivr.net/alertifyjs/1.9.0/alertify.min.js')
link( rel='stylesheet' href='//cdn.jsdelivr.net/alertifyjs/1.9.0/css/alertify.min.css')

// [ Responsive ]
meta( name='viewport' content='width=device-width, initial-scale=1')

// [ GTM ]
//- TODO Channge GTM-XXXX to appropriate GTM code
script( src="js/GTM-setup.js" )

// [ Analytics ]
//- TODO - replace GA_TRACKING_ID
script(async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID")
script( src="js/GA-setup.js" )
// [ Generated ]


