/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// Main Colours

$black: #000;
$white: #fff;

// Project Colours

$color-example-grey: #0e0e0e;

// Sizing Variables

// Spacing Variables

// Button Variables

// Radius Variables

$standard-radius: 4px;

// Clipping Paths

/* Typography Variables are in typography.scss now */
